= form_for(@bet) do |f|
  - if @bet.errors.any?
    #error_explanation
      %h2
        = pluralize(@bet.errors.count, "error")
        prohibited this bet from being saved:
      %ul
        - @bet.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :match_id
    %br/
    = f.collection_select :match_id, Match.all, :id, :to_s
  .field
    = f.label :user_id
    %br/
    = f.collection_select :user_id, User.all, :id, :name
  .field
    = f.label :score_a
    %br/
    = f.number_field :score_a
  .field
    = f.label :score_b
    %br/
    = f.number_field :score_b
  .actions
    = f.submit
