<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.collection_select :match_id, Match.all, :id, :to_s %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :score_a %><br />
    <%= f.number_field :score_a %>
  </div>
  <div class="field">
    <%= f.label :score_b %><br />
    <%= f.number_field :score_b %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
