%h1 Listing bets
%table
  %tr
    %th Match
    %th User
    %th Bet
    %th Points
    %th
    %th
    %th
  - @bets.each do |bet|
    %tr
      %td= bet.match
      %td= bet.user.name
      %td= bet.scores_string
      %td= bet.points
      %td= link_to 'Show', bet
      %td= link_to 'Edit', edit_bet_path(bet)
      %td= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Bet', new_bet_path
