<p id="notice"><%= notice %></p>

<p>
  <b>Match:</b>
  <%= @bet.match %>
</p>

<p>
  <b>User:</b>
  <%= @bet.user.name %>
</p>

<p>
  <b>Score a:</b>
  <%= @bet.score_a %>
</p>

<p>
  <b>Score b:</b>
  <%= @bet.score_b %>
</p>

<p>
  <b>Points:</b>
  <%= @bet.points %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
