- started_matches = @matchday.matches.select{|match| match.has_started?}
- if started_matches.any?
  %table.table.table-striped.table-condensed.text-small
    %tr
      %th Name
      - started_matches.each do |match|
        %th= "#{match} (#{match.scores_string})"
      %th matchday points
      %th total points
    - User.ranking(:matchday => @matchday).sort_by {|user, rank| rank}.each do |user, rank|
      %tr
        %td= user.name
        - started_matches.each do |match|
          - bet = user.bets.find_by_match_id(match.id)
          %td= "#{bet ? bet.scores_string : "-:-"} (#{bet ? bet.points : 0} pts)"
        %td= user.matchday_points(@matchday)
        %td= user.total_points(as_of_matchday: @matchday)
- else
  %p No bet overview available for this matchday.


