-if @matchday
  %h1= @matchday.description
  %br/
  %table.table
    %tr
      %th Match Start
      %th Home team
      %th :
      %th Away team
      %th Bet
      %th Result
      %th Points
    - @bets.each do |bet|
      %tr
        %td= bet.match.match_date
        %td= bet.match.team_a
        %td :
        %td= bet.match.team_b
        %td= bet.scores_string
        %td= bet.match.scores_string
        %td= bet.points
