
- error_count = @bets ? @bets.map{|bet| bet.errors.count}.sum : []
- if error_count > 0
  - error_messages = @bets.map{|bet| bet.errors.full_messages}.flatten.uniq
  - invalid_bets_count = @bets.select{|bet| bet.errors.any?}.count
  #error_explanation
    %h2= "#{pluralize(error_count, "error")} prohibited #{pluralize(invalid_bets_count, "bet")} from being saved:"
    %ul
      - error_messages.each do |msg|
        %li= msg

- editable_bets = @bets ? @bets.select{|bet| not bet.match.started?} : []        
- if editable_bets.any?
  .row
    .span7
      = form_tag(matchday_bets_path(@matchday), :method => :put) do
        %table.table
          %tr
            %th{:style=>'width: 8em'} Match Start
            %th{:style=>'text-align: right; width: 12em'} Home team
            %th{:style=>'text-align: center; width: 1em'} :
            %th{:style=>'width: 12em'} Away team
            %th{:style=>'text-align: center'} Bet
          - @bets.select{|bet| not bet.match.started?}.each do |bet|
            %tr
              %td= bet.match.match_date.strftime("%d.%m - %H:%M")
              %td{:style=>'text-align: right'}= bet.match.team_a
              %td{:style=>'text-align: center'} :
              %td= bet.match.team_b
              %td{:class=>'nopadding'}
                = fields_for :bets, bet, index: (bet.match_id) do |bet_form|
                  .field.nomargin
                    = bet_form.number_field :score_a, :class => 'input-mini nomargin'
                    = bet_form.number_field :score_b, :class => 'input-mini nomargin'
        %p= submit_tag "Submit Bets", :class => 'btn btn-large btn-primary pull-right', :id=> 'test'
    .span5
      .badge-icon.badge-number-one
        .badge-caption
          You're  
        .badge-caption.text-large
          N°1!
- else 
  %p No matches to bet.

:javascript
  $(document).ready(function() {
    $('.input-mini:first').focus();
  });
