-if @matchday
  %h1= @matchday.description
  %br/
  - error_count = @bets.map{|bet| bet.errors.count}.sum
  - if error_count > 0
    - error_messages = @bets.map{|bet| bet.errors.full_messages}.flatten.uniq
    - invalid_bets_count = @bets.select{|bet| bet.errors.any?}.count
    #error_explanation
      %h2= "#{pluralize(error_count, "error")} prohibited #{pluralize(invalid_bets_count, "bet")} from being saved:"
      %ul
        - error_messages.each do |msg|
          %li= msg
        
  = form_tag(matchday_bets_path(@matchday), :method => :put) do
    %table.table
      %tr
        %th Match Start
        %th Home team
        %th :
        %th Away team
        %th Bet
        %th Result
        %th Points
      - @bets.each do |bet|
        %tr
          %td= bet.match.match_date
          %td= bet.match.team_a
          %td :
          %td= bet.match.team_b
          %td
            - if bet.match.started?
              = bet.scores_string
            - else
              = fields_for :bets, bet, index: bet.id do |bet_form|
                .field
                  = bet_form.number_field :score_a
                  = bet_form.number_field :score_b
                  = bet_form.hidden_field :match_id
          %td= bet.match.scores_string
          %td= bet.points
    %p= submit_tag "Submit Bets", :class => 'btn'
