<h1><%= @matchday.description %></h1>
<br />

<%= form_tag update_matchday_bets_path, :method => :put do %>
  <table class="table">
    <tr>
      <th>Home team</th>
      <th>:</th>
      <th>Away team</th>
      <th>Bet</th>
      <th>Result</th>
      <th>Points</th>
    </tr>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.match.team_a %></td>
        <td>:</td>
        <td><%= bet.match.team_b %></td>
        <td>
          <% if bet.match.started? %>
            <%= bet.scores_string %>        
          <% else %>
            <% if bet.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>
                <ul>
                <% bet.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= fields_for :bet_for_match, bet, index: bet.match.id do |bet_form| %>
            <div class="field">
              <%= bet_form.number_field :score_a %>:<%= bet_form.number_field :score_b %>
              <%= bet_form.hidden_field :match_id %>
            </div>
            <% end %>
          <% end %>      
        </td>
        <td><%= bet.match.scores_string %></td>
        <td><%= bet.points %></td>
      </tr>
    <% end %>
  
  </table>
  
  <%= hidden_field_tag 'matchday_id', @matchday.id %>
  <p><%= submit_tag "Submit Bets", :class => 'btn' %></p>
<% end %>