= link_to 'Ranking', users_path
%br/
%table.table
  %tr
    %th Rank
    %th Name
    %th Total points
    %tr
      %td= @ranking_first[1]
      %td= @ranking_first[0].name
      %td= @ranking_first[0].points
    %tr
      %td= "..."
      %td= "..."
      %td= "..."
  - @ranking.sort_by {|user, rank| 0}.each do |user, rank|
    - if user.id == @current_user.id  
      %tr.highlighted
        %td= rank
        %td= link_to user.name, user
        %td= user.points
    - else
      %tr
        %td= rank
        %td= link_to user.name, user
        %td= user.points
  %tr
    %td= "..."
    %td= "..."
    %td= "..."
  %tr
    %td= @ranking_last[1]
    %td= @ranking_last[0].name
    %td= @ranking_last[0].points