%table.table.table-striped
  %tr
    %th Rank
    %th Name
    %th Total points
  - expected_rank = 1  
  - @ranking.sort_by {|user, rank| rank}.each do |user, rank|
    - if rank > expected_rank
      %tr
        %td ...
        %td ...
        %td ...
      - expected_rank = rank
    - if user.id == @current_user.id  
      %tr.highlighted
        %td= rank
        %td= link_to user.name, user
        %td= user.total_points
    - else
      %tr
        %td= rank
        %td= link_to user.name, user
        %td= user.total_points
    - expected_rank += 1


