%table.table.table-striped
  %tr
    %th Rank
    %th Name
    %th Total points
  - expected_rank = 1
  - @ranking.each do |element|
    - if element.rank > expected_rank
      %tr
        %td ...
        %td ...
        %td ...
      - expected_rank = element.rank
    - expected_rank += 1
    - if element.user.id == @current_user.id
      %tr.highlighted
        %td= element.rank
        %td= link_to element.user.name, element.user
        %td= element.user.total_points
    - else
      %tr
        %td= element.rank
        %td= link_to element.user.name, element.user
        %td= element.user.total_points



