= form_for(@matchday) do |f|
  - if @matchday.errors.any?
    #error_explanation
      %h2
        = pluralize(@matchday.errors.count, "error")
        prohibited this matchday from being saved:
      %ul
        - @matchday.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .input-xlarge
    = f.label "csv for matches (semicolon separated):"
    = f.label "(like: '[start time];[team 1];[team 2]')"
    %textarea{name: "csv", type: "textarea", rows: 10}
    
  .actions
    = f.submit
