<h1>Listing matchdays</h1>

<table class="table">
  <tr>
    <th>Description</th>
    <th></th>
  </tr>

<% @matchdays.each do |matchday| %>
  <tr>
    <td><%= matchday.description %></td>
    <td>
      <%= link_to 'Show', matchday, :class => 'btn btn-mini' %>
      <%= link_to 'Edit', edit_matchday_path(matchday), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', matchday, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Matchday', new_matchday_path, :class => 'btn btn-mini' %>
