<p id="notice"><%= notice %></p>

<% Matchday.all.each do |matchday| %>
  <%= link_to matchday.description, matchday_path(matchday) %> |
<% end %>
<h1><%= @matchday.description %></h1>


<table>
  <tr>
    <th>Home team</th>
    <th>:</th>
    <th>Away team</th>
    <th>Bet</th>
    <th>Result</th>
    <th>Points</th>
  </tr>

  <% @started_matches.each do |match| %>
    <% bet = current_user.bets.find_by_match_id(match.id) %>
    <tr>
      <td><%= match.team_a %></td>
      <td>:</td>
      <td><%= match.team_b %></td>
      <td><%= bet ? bet.scores_string : "-:-" %></td>
      <td><%= match.scores_string %></td>
      <td><%= bet ? bet.points : 0 %></td>
    </tr>
  <% end %>

  <%= form_tag update_matchday_bets_path, :method => :put do %>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.match.team_a %></td>
        <td>:</td>
        <td><%= bet.match.team_b %></td>
        <td>
          <%= fields_for :bets, bet, index: (bet.id || "M#{bet.match.id}") do |f| %>
            <div class="field">
              <%= f.number_field :score_a %>:<%= f.number_field :score_b %>
            </div>
          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
</table>
    <%= hidden_field_tag 'matchday_id', @matchday.id %>
    <p><%= submit_tag "Submit Bets" %></p>
  <% end %>


<%= link_to 'Edit', edit_matchday_path(@matchday) %> |
<%= link_to 'Back', matchdays_path %>
