<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_a %><br />
    <%= f.text_field :team_a %>
  </div>
  <div class="field">
    <%= f.label :team_b %><br />
    <%= f.text_field :team_b %>
  </div>
  <div class="field">
    <%= f.label :score_a %><br />
    <%= f.number_field :score_a %>
  </div>
  <div class="field">
    <%= f.label :score_b %><br />
    <%= f.number_field :score_b %>
  </div>
  <div class="field">
    <%= f.label :match_date %><br />
    <%= f.datetime_select :match_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
