<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Matchday" %>
    <%= f.collection_select :matchday_id, Matchday.all, :id, :description %>
  </div>
  <div class="field">
    <%= f.label "Pairing" %>
    <%= f.text_field :team_a %>:<%= f.text_field :team_b %>
  </div>
  <div class="field">    
    <%= f.label "Result" %>
    <%= f.number_field :score_a %>:<%= f.number_field :score_a %>
  </div>
  <div class="field">
    <%= f.label "Date" %>
    <%= f.datetime_select :match_date %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
