<h1>Listing matches</h1>

<table class="table">
  <tr>
    <th>Home</th>
    <th>Away</th>
    <th>Result</th>
    <th>Match date</th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.team_a %></td>
    <td><%= match.team_b %></td>
    <td><%= match.scores_string %></td>
    <td><%= match.match_date %></td>
    <td>
      <%= link_to 'Show', match, :class => 'btn btn-mini' %>
      <%= link_to 'Edit', edit_match_path(match), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path, :class => 'btn btn-mini' %>
