%p
  %b Home Team:
  = @match.home_team.name
%p
  %b Away Team:
  = @match.away_team.name
%p
  %b Score a:
  = @match.score_a
%p
  %b Score b:
  = @match.score_b
%p
  %b Match date:
  = @match.match_date
%p
  %b Matchday:
  = @match.matchday.description
= link_to 'Edit', edit_match_path(@match), :class => 'btn btn-mini'
= link_to 'Back', matches_path, :class => 'btn btn-mini'
