%p#notice= notice
%p
  %b Team a:
  = @match.team_a
%p
  %b Team b:
  = @match.team_b
%p
  %b Score a:
  = @match.score_a
%p
  %b Score b:
  = @match.score_b
%p
  %b Match date:
  = @match.match_date
= link_to 'Edit', edit_match_path(@match), :class => 'btn btn-mini'
= link_to 'Back', matches_path, :class => 'btn btn-mini'
