<p id="notice"><%= notice %></p>

<p>
  <b>Team a:</b>
  <%= @match.team_a %>
</p>

<p>
  <b>Team b:</b>
  <%= @match.team_b %>
</p>

<p>
  <b>Score a:</b>
  <%= @match.score_a %>
</p>

<p>
  <b>Score b:</b>
  <%= @match.score_b %>
</p>

<p>
  <b>Match date:</b>
  <%= @match.match_date %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
